.logo {
    width: 100%; 
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* nav bar */
.nav {
    display:flex;
    flex-direction: row;
    justify-content: right;


    /* text-align: center; */
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 5%;
    width: 10%;
    margin-left: auto;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.margin {
    margin-right: 70%;
}



/* thickness of line break below nav bar */
hr {
    border-width: 2px;
    border-color: black;
    width: 100%;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-left: 2%;
}

.whole-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*removing decoration from links */
a {
    text-decoration: none;
    color: black;
}

/* yellow highlight on nav bar for current page */
.highlight {
    background-color: yellow;
}

img {
    border: 4px solid black
}

/* this will override styling on links (above) to add underline to item name */
.item-title {
    text-decoration: underline;
    text-decoration-thickness: 0.8px;
}

/*for the menu as a whole */
.menu { 
    display: flex;
    flex-direction: column;


    text-align: left;
    line-height: 30%;
}

/* flex box for menu items */
.menu-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.menu-intro {
    text-align: left;
    line-height: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 20px;
}

/* container for menu items */
.items { 
    width: 20%;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%; */

    display: block;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%; */
}

/* menu images */
.menu-item {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

/* yellow background when user hovers on menu items */
.items:hover {
    background-color: yellow;
}

.whole-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}

.purchase {
    font-size: 18px;
    width:30%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

/* larger image size for product page */
.product-detail {
    width: 60%;
}

/* description for item in product detail page */
.detail-description {
    text-align: left;
    margin-bottom: 10%;
    width:70%;
}

/* drop down menus */
.drop-down {
    width:100%;
    text-align: left;
}

/* drop down menu */
select {
    width:100%
}

/* put price and button on the same line */
.add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* add spacing to price in product detail page */
.cart-price{
    margin-right: 30px;
    margin-left: 30px;
}

/* button styling */
 button {
    background-color: yellow;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    justify-content: right;
   
}

/* smaller images for cart page */
.smaller-image {
    width: 100px;
}

.caption {
    line-height: 5px;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.cart-image-caption {
    display: flex;
    flex-direction: column;

}

/* styling text on cart page */
.cart-description {
    line-height: 5px;
    margin-top: 5px; 
}
.cart-row{
    display: flex;
    flex-direction: row;

}

.cart-column {
    display: flex;
    flex-direction: column;

}

.whole-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end


}

/* adding top margin to prices on the cart page */
/* .price {
    text-align: center;
    margin-top: 25px;
} */

/* "remove" styling */



