body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 5px;
    background-color: #01253F;
    color: #FFF4E1;    
}



.section_image {
    width: 50%;
}

.section_text {
    width: 50%;
    padding: 100px;
}

.header{
    font-family:'Lato', sans-serif;
    font-size: 30px;
    font-weight: 600;


    color: #9DE3DB;
    letter-spacing: 6px;
    text-transform: uppercase;


}

.header_2{
    font-family:'Lato', sans-serif;
    font-size: 30px;;
    font-weight: 600;
    color: #D3D64D;
    letter-spacing: 6px;
    text-transform: uppercase;

}

.image {
    max-width: 500px;
}

/* .section_image:hover {
    animation-name: bounce;
   
} */

.section_row{
    display:flex;
    flex-direction: row;
    justify-content: right;

    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
    margin-right: 50px;

    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;

}

.section_row.fade-in {
    opacity: 1;
    transform: translateY(0px);

}



